
<script src='https://maps.googleapis.com/maps/api/js?key='></script>
<script>
  function init() {
    var mapOptions = { "center": {  "lat": -17.409188377625735,  "lng": -66.10715135463971 }, "clickableIcons": true, "disableDoubleClickZoom": false, "draggable": true, "fullscreenControl": true, "keyboardShortcuts": true, "mapMaker": false, "mapTypeControl": true, "mapTypeControlOptions": {  "text": "Default (depends on viewport size etc.)",  "style": 0 }, "mapTypeId": "roadmap", "rotateControl": true, "scaleControl": true, "scrollwheel": true, "streetViewControl": true, "styles": false, "zoom": 13, "zoomControl": true};
    var mapElement = document.getElementById('ez-map');
    var map = new google.maps.Map(mapElement, mapOptions);
    var marker0 = new google.maps.Marker({title: "udabol", position: new google.maps.LatLng(-17.39038990283538, -66.06809445046645), map: map});
var infowindow0 = new google.maps.InfoWindow({content: "<h3 class=\"infoTitle\">udabol</h3><p></p>",map: map});
marker0.addListener('click', function () { infowindow0.open(map, marker0) ;});infowindow0.close();
var marker1 = new google.maps.Marker({title: "casa samuel", position: new google.maps.LatLng(-17.433538636745194, -66.1305546918976), map: map});
var infowindow1 = new google.maps.InfoWindow({content: "<h3 class=\"infoTitle\">casa samuel</h3><p></p>",map: map});
marker1.addListener('click', function () { infowindow1.open(map, marker1) ;});infowindow1.close();
var marker2 = new google.maps.Marker({title: "casa jose", position: new google.maps.LatLng(-17.40859668563004, -66.14880783219712), map: map});
var infowindow2 = new google.maps.InfoWindow({content: "<h3 class=\"infoTitle\">casa jose</h3><p></p>",map: map});
marker2.addListener('click', function () { infowindow2.open(map, marker2) ;});infowindow2.close();

    google.maps.event.addDomListener(window, "resize", function() { var center = map.getCenter(); google.maps.event.trigger(map, "resize"); map.setCenter(center); });
  }
google.maps.event.addDomListener(window, 'load', init);
</script>
<style>
  #ez-map{min-height:150px;min-width:150px;height: 420px;width: 100%;}
  #ez-map .infoTitle{}
  #ez-map .infoWebsite{}
  #ez-map .infoEmail{}
  #ez-map .infoTelephone{}
  #ez-map .infoDescription{}
</style>
<div id='ez-map'></div>

